
:root {
    --bs-primary: #266695;
    --bs-secondary: #ffe23b;
}

.nav-link {
    color: var(--bs-primary);
}

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
}

.categories--List {
    top:69px;
    z-index:2;
}

.product--Offer{
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: bold;
}

.product--Button-message {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: bold;
}

.product--Favorite {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.shadow {
box-shadow: rgba(0, 0, 0, 0.08) 0 1px 12px !important
}

.xnav {
    overflow-x: scroll;
    width: 100%;
}

.Cart {
    min-width: 380px;
    width: auto;
    max-width: 600px;
    right: 0;
    left: auto;
    background: #266695;
    position: fixed;
    z-index: 10000;
    bottom: 0;
    top: auto;
    max-height: 200px;
    overflow-y:scroll;
}

.Cart div.first {
    background: #266695;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 12px !important;
    padding: 13px 16px;
}

.Cart div.last {
    background: #266695;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 12px !important;
    padding: 13px 16px;
    bottom: 0 !important;
    top:auto !important;
}

.Cart ul {

    padding: 0px 16px;
}

.Cart.open {
    max-height: 100%;
}

.pointer {
    cursor: pointer;
}

.cart--Image {
    width: 50px;
}

.cart--Price {
    width: 60px;
}
.cart--Name {
    min-width: 60px;
    max-width: 100px;
}

.cart--Quantity {
    width: 60px;
}



/*


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.m10 {
  margin: 20px

}

.mb10 {
    margin-bottom: 20px

}

.btn {
    border:0 none;
    cursor: pointer;
  text-decoration: none
}

.btn-primary {
    background:var(--fh-primary);
    color:white;
    text-decoration: none
}

.text-primary {
  color:var(--fh-primary);
}

.main {
  border-top:1px solid var(--fh-border);
}

.container {
  max-width: 1860px;
  width: 100%;
  margin: 0 auto;
}

.section {
  margin: 10px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 0
}

.nav ul li {
  padding: 10px
}

.products--Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products--Aside--List {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: row;
    overflow-x: scroll;
}

.products--Aside--List--Item {
  margin: 5px;
}

.product--Container {
    position: relative;
    max-width: 263px;
    margin-bottom: 20px
}

.product--Container>* {
    margin-bottom: 10px;
}

.product--Offer {
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0 1px 0.5px 1px rgba(0,0,0,0.05);
  background: white;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--fh-primary);
  color: white;
}

.products--Aside {
    min-width: 160px;
    padding: 10px
}

.product--Title {
    font-size: 18px;
    color: var(--fh-primary);
    font-weight: normal;
}

.product--Price {
    font-size: 16px;
}

.product--ShortDescription {
    font-size: inherit;
    font-weight: inherit;
}

.product--Button {
    padding: 10px;
}



@media (min-width: 800px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .container--Shop {
    display: flex;
    flex-flow: row;
  }

  .products--Aside--List {
      flex-flow: column;
      overflow-x: hidden;

  }
}

.product--Button-area{
    display: flex;
    flex-direction: column;
}

.product--Button-area .product--Button-container{
    display: flex;
    align-items: center;

}

.product--Button-area .product--Button-container .product--Button{
    flex: 1;
}

.product--Button-area .product--Button-container .product--Button-counter{
    text-align: center;
    background: #f1f1f1;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding: 0 15px;

}

.product--Button-area .product--Button-container .product--Button-add,
.product--Button-area .product--Button-container .product--Button-remove{
    text-align: center;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding: 0 10px;
    background: #e3e1e1;
    border:0 none;
}

.product--Button-area .product--Button-message {
    margin-bottom: 10px;
}*/
